<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-container">
  <div class="form-wrapper">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="card-title">Contraseña</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Ingresa tu nueva contraseña , recuerda sin ocupar simbolos como por ejemplo : %&*#
        <ion-input label="Contreña nueva" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
        <ion-input label="Confirmar contraseña nueva" label-placement="floating" fill="solid" placeholder="Enter text"></ion-input>
        <br>
        <ion-button routerLink="/login" expand="block">Aceptar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
