<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title class="titulo">Información</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="titulo" size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab2" routerLink="/grid">
        <ion-icon name="grid"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab3" routerLink="/informacion">
        <ion-icon color="tertiary" name="information-circle" size="large"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tab4">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>