<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item >
      <ion-select label="Carrera" placeholder="Ingeniería en Informática">
        <ion-select-option value="apple">Ingeniería en Informática</ion-select-option>
        <ion-select-option value="banana">Ingeniería en Sonido</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Programación de Aplicaciones Moviles</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 1</ion-label>
                <span>Presente</span>
              </div>
            </div>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 2</ion-label>
                <span>Ausente</span>
              </div>
            </div>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 3</ion-label>
                <span>Presente</span>
              </div>
            </div>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 4</ion-label>
                <span>Presente</span>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Arquitectura</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 1</ion-label>
                <span>Presente</span>
              </div>
            </div>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 2</ion-label>
                <span>Ausente</span>
              </div>
            </div>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 3</ion-label>
                <span>Presente</span>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Proceso de Portafolio</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div style="display: flex; justify-content: space-between;">
                <ion-label>Clase 1</ion-label>
                <span>Presente</span>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>