<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">ASISTENCIAS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list lines="full">
    <div *ngIf="cursosAlumno && cursosAlumno.length > 0; else sinCursos">
        <div *ngFor="let curso of cursosAlumno; let i = index">
          <div *ngFor="let alumno of curso.alumnos">
            <div *ngIf=" alumno === this.usuarioId">
              <ion-item>
                <ion-label>
                  <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                          <ion-label>{{ curso.nomb_clase}}</ion-label>
                        </ion-item>

                          <div class="ion-padding" slot="content">
                            <div *ngIf=" asistenciasAlumno && asistenciasAlumno.length > 0; else sinAsistencias">
                              <div *ngFor="let asistencia of asistenciasAlumno; let i = index">
                                <div *ngIf="asistencia.id_alumno === usuarioId && asistencia.id_clase === curso.id_clase">
                                  <div style="display: flex; justify-content: space-between;">
                                    <ion-label>Fecha : {{formatFechaHora(asistencia.fecha_hora) }}</ion-label>
                                    <span>{{asistencia.estado}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      
                    </ion-accordion>
                  </ion-accordion-group>
              
                </ion-label>
              </ion-item>
            </div>
          </div>
        </div>
    </div>
     
  </ion-list>

</ion-content>

<ng-template #sinCursos>
  <br>
  <ion-text class="ion-padding"> No tienes cursos registrados  </ion-text>
</ng-template>

<ng-template #sinAsistencias>
  <br>
  <ion-text class="ion-padding"> No hay clases dictadas </ion-text>
</ng-template>

<div class="bottom-buttons">
  <ng-container>
    <ion-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ng-container>
  </div>
