<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <div class="qr-container">
      <qr-code [value]="qrText" size="190" errorCorrectionLevel="M" />
    </div>
  
    <ion-card-header>
      <ion-card-title>Código de la clase</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-textarea
        label='Escribe el código de la clase aquí'
        labelPlacement="stacked"
        fill="outline"
        [(ngModel)]="qrText"
      ></ion-textarea>
    </ion-card-content>
  </ion-card>
  

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>