<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <qr-code value="qrText" 
         size="220" 
         errorCorrectionLevel="M" />
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>