.xd{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  padding: 0; /* Elimina cualquier padding predeterminado */
}

.logo-container{
  display: flex;
  justify-content: center; 
  margin-bottom: 70px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente, opcional */
}

.submit-button {
  margin-top: 16px;
  --background: #000;
  --color: white;
  --border-radius: 14px; 
  --padding-start: 12px; 
  --padding-end: 12px; 
  --height: 40px; 
  font-size: 14px; 
}

.icono{
  color: #000;
}

/* Estilo para los campos de entrada */
ion-item {
  --background: #f9f9f9; /* Color de fondo para los campos de entrada */
  border-radius: 8px; /* Bordes redondeados para los campos de entrada */
}

ion-input {
  --padding-start: 16px; /* Padding interno en el lado izquierdo del campo de entrada */
  color: #000; /* Color negro para el texto dentro del campo de entrada */
}

.center-text {
  display: flex;
  justify-content: center; 
  text-align: center; 
  width: 100%; 
}