<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-container">
  <div class="form-wrapper">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="card-title">Iniciar sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form #loginForm="ngForm" (ngSubmit)="logear()">
          <ion-item>
            <ion-label position="floating">Correo institucional</ion-label>
            <ion-input type="text" [(ngModel)]="usr.correo" name="username" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="usr.password" name="password" required></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit" class="submit-button" [disabled]="!loginForm.form.valid">
            Iniciar sesión
          </ion-button>

          <ion-item lines="none" class="forgot-password">
            <ion-label>
              <ion-text routerLink="/registro">!Registrarse!</ion-text>
              <br>
              <ion-text routerLink="/recuperar-psw">¿Olvidaste tu contraseña?</ion-text>
            </ion-label>
          </ion-item>
        </form>
      </ion-card-content>


    </ion-card>
  </div>
</ion-content>
