<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-container">

  <ng-container *ngIf="sesion.isLoggedIn(); else loginForm">
    <ion-list class="ion-padding">
      <ion-item>
        <ion-label>Nombre de usuario</ion-label>
        <ion-text>{{ sesion.getUser()?.nombre }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>{{ sesion.getUser()?.correo }}</ion-text>
      </ion-item>
      <ion-button expand="block" color="danger" (click)="sesion.logout(); router.navigate(['/inicio'])">
        Cerrar sesión
      </ion-button>
    </ion-list>
  </ng-container>

  <div class="form-wrapper">
    
      <ion-card-content>
        <ng-template #loginForm>
          <form #inicioForm="ngForm" (ngSubmit)="Loguear2!(inicioForm)">
            <ion-item>
              <ion-label position="floating">Correo institucional</ion-label>
              <ion-input type="text" [(ngModel)]="usr.correo" name="username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="usr.password" name="password" required></ion-input>
            </ion-item>

            <ion-button expand="full" type="submit" class="submit-button" [disabled]="inicioForm.invalid">
              Iniciar sesión
            </ion-button>

            <ion-item lines="none" class="forgot-password">
              <ion-label>
                <ion-text routerLink="/registro">!Registrarse!</ion-text>
                <br>
                <ion-text routerLink="/recuperar-psw">¿Olvidaste tu contraseña?</ion-text>
              </ion-label>
            </ion-item>
          </form>
        </ng-template>
      </ion-card-content>
      
  </div>
</ion-content>
