<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">AppAsistencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ng-container *ngIf="rol === 'Alumno'">
    <div *ngIf="nombre">
      <h2 class="welcome-text">Bienvenido, <strong>{{nombre}}</strong>!</h2>
      <br>
    </div>
  </ng-container>

  <ng-container *ngIf="rol === 'Docente'">
    <div *ngIf="nombre">
      <h2 class="welcome-text">Bienvenido, <strong>{{nombre}}</strong>!</h2>
      <br>
    </div>
  </ng-container>

  <ng-container *ngIf="!rol">
    <p>No se pudo determinar el rol del usuario.</p>
  </ng-container>
  <ng-container>
    <div class="image-wrapper">
      <img src="assets/img/alumno_mano.jpeg" alt="Alumno alzando la mano" class="main-img" />
    </div>
    <br>
  </ng-container>
  
  <div class="cards-container">
    <ng-container *ngIf="rol === 'Docente'">
      <ion-card routerLink="/cursos">
        <ion-card-header>
          <ion-card-title>Cursos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Aqui encontraras tus cursos
        </ion-card-content>
      </ion-card>
      <ion-card routerLink="/asistencia-prof">
        <ion-card-header>
          <ion-card-title>Asistencias</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Supervisa la asistencia.
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="rol === 'Alumno'">
      <ion-card routerLink="/cursos-alumno">
        <ion-card-header>
          <ion-card-title><strong>Cursos</strong></ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Aqui encontraras tus cursos
        </ion-card-content>
      </ion-card>
      <ion-card routerLink="/asistencias">
        <ion-card-header>
          <ion-card-title><strong>Asistencia</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Aqui encontraras tus asistencias
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>

  <div class="bottom-buttons">
    <ng-container *ngIf="rol === 'Docente'">
      <ion-button routerLink="/login">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ng-container>

    <ng-container *ngIf="rol === 'Alumno'">
      <ion-button (click)="scan()" [disabled]="!isSupported">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/login">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-footer>

