
<ion-header>
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-text-center">AppAsistencias</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="rol === 'Alumno'">
    <div *ngIf="nombre">
      <h2 class="welcome-text">Bienvenido alumno! <strong>{{nombre}} </strong></h2>
    </div>
  </ng-container>

  <ng-container *ngIf="rol === 'Docente'">
    <div *ngIf="nombre">
      <h2 class="welcome-text">Bienvenido docente! <strong>{{nombre}}</strong></h2>
    </div>
  </ng-container>

  <ng-container *ngIf="!rol">
    <p>No se pudo determinar el rol del usuario.</p>
  </ng-container>

  <ion-card routerLink="/cursos"> 
    <ion-card-header>
      <ion-card-title>Cursos</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui se registran los cursos que tienes escrito durante este semestre
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="rol === 'Alumno'">
  <br>
  <ion-card routerLink="/asistencias">
    <ion-card-header>
      <ion-card-title>Asistencias</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui esta tu los porcentajes de asistencias de los cursos inscritos
    </ion-card-content>
  </ion-card>
  </ng-container>

  <ng-container *ngIf="rol === 'Docente'">
  <br>
    <ion-card routerLink="/asistencia-prof">
      <ion-card-header>
        <ion-card-title>Asistencias</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Aqui podrás manejar la asistencia de tus clases
      </ion-card-content>
    </ion-card>
    </ng-container>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="../camera">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/login">
        <ion-icon name="log-out-outline"> </ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>
