<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot="start" name="calendar-number"></ion-icon>
      <ion-title size="large">Eventos</ion-title>
    </ion-item>


    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Próxima evaluación de Arquitectura</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Fecha: 27/09</div>
        <div class="ion-padding" slot="content">Hora: 14:00</div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Halloween</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Fecha: 31/10</div>
        <div class="ion-padding" slot="content">Hora: 22:00</div>
      </ion-accordion>
    </ion-accordion-group>


  </ion-list>
</ion-content>