<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/cursos"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ this.CursoCargado.nomb_clase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="title">Detalles del Curso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Nombre</ion-label>
        <ion-text color="primary">
          <strong>{{ this.CursoCargado.nomb_clase }}</strong>
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Semestre</ion-label>
        <ion-text color="primary">
          <strong>{{ this.CursoCargado.semestre }}</strong>
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Seccion</ion-label>
        <ion-text color="primary">
          <strong>{{ this.CursoCargado.seccion_num }}-{{this.CursoCargado.seccion_letra}}</strong>
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Profesor</ion-label>
        <ion-text>
          <strong>{{ this.CursoCargado.nomb_docente}}</strong>
        </ion-text>
      </ion-item>

      <ion-list>
        <ion-card-title class="title">Lista del curso</ion-card-title>
        <div *ngIf="this.AlumnosCargados && this.AlumnosCargados.length > 0; else sinAlumnos">
          <div *ngFor=" let alumno of this.AlumnosCargados"> 
            <ion-item>
              <div *ngFor=" let usr of usuario">
                <div *ngIf=" alumno ===usr.id_usuario ">
                  {{ usr.nombre}} {{ usr.apellido}}
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </ion-list>
    </ion-card-content>

    <div *ngIf="this.rol === 'Docente'">
      <ion-button class="ion-padding" expand="block" routerLink="/tabs/cursos" color="secondary">Volver</ion-button>
    </div>

    <div *ngIf="this.rol === 'Alumno'">
      <ion-button class="ion-padding" expand="block" routerLink="/tabs/cursos-alumno" color="secondary">Volver</ion-button>
    </div>
  </ion-card>
</ion-content>

<ng-template #sinAlumnos>
  <br>
  <ion-text class="ion-padding"> No hay alumnos registrados aun </ion-text>
</ng-template>

<ion-footer>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-footer>
