<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Listado de Cursos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="cursos && cursos.length > 0; else sinCursos">
    <div *ngFor="let curso of cursos; let i = index">
      <ion-list [inset]="true">
          <ion-item color="secondary">
              <ion-label>2024-{{ curso.semestre }} {{ curso.nomb_clase}}</ion-label> <ion-button  size="large" (click)="DetalleCurso(curso)"> Detalles</ion-button>
          </ion-item>  
      </ion-list>
    </div>
  </div>
  <ion-button expand="block" class="ion-padding" routerLink="/agregar-clase"> Agregar Curso </ion-button>
</ion-content>

<ng-template #sinCursos>
  <br>
  <ion-text class="ion-padding"> No tienes cursos Registrados </ion-text>
</ng-template>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>
