<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>cursos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="inscritos">
        <ion-label>Inscritos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="historial">
        <ion-label>Historial</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-select label="Carrera" placeholder="Todos">
        <ion-select-option value="apple">Ingeniería en Informática</ion-select-option>
        <ion-select-option value="banana">Ingeniería en Sonido</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="cursos && cursos.length > 0; else sinCursos">
    <div *ngFor="let curso of cursos; let i = index">
      <ion-list [inset]="true">
          <ion-item>
              <ion-label>2024-{{ curso.semestre }} {{ curso.nomb_clase}} ({{curso.estado}})</ion-label>
          </ion-item>  
      </ion-list>
    </div>
  </div>
</ion-content>

<ng-template #sinCursos>
  <ion-text class="ion-padding"> No hay cursos </ion-text>
</ng-template>

<ion-footer>
  <ion-toolbar color="primary">

  </ion-toolbar>
</ion-footer>
